.nav-link{
    color: #448EE4 !important;
    margin-right: 20px;
}

.darkmode {
    background-color: #212529;
}


.dark-mode-toggle {
    background-color: white;
    border: none;
}

main {
    max-width: 400px;
}

#hero-avatar {
    max-width: 175px;
    margin: 20px;
}

h1:hover {
    color: #448EE4;
}

.link, .link-ex{
    text-decoration: none;
}

.link {
    color: #212529;
}

.link-ex {
    color: #448EE4;
}

.link-ex:hover {
    color: #448EE4;
    text-decoration:underline;
    text-underline-offset: 5px;
}

svg {
    color: #212529;
}

.github-logo:hover, .main-svg:hover {
    fill: #448EE4 !important;
}

.bi-instagram {
    margin-right: 1rem;
}

.text {
    font-size: 1.3rem;
}

.card {
    min-width: 100% !important;
    margin-bottom: 30px;
    border: 2px #448EE4 solid !important;
}

.card-img-top {
    height: 300px;
}

.btn {
    background-color: #448EE4 !important;
    border-radius: 50px !important;
    color: white !important;
}

.btn:hover {
    background-color: skyblue !important;
    color: #212529 !important;
}
