main {
    max-width: 400px;
}

#hero-avatar {
    max-width: 175px;
    margin: 20px;
}

.link, .link-ex{
    text-decoration: none;
}

.link {
    color: #212529;
}

.link:hover, .link-ex {
    color: #448EE4
}

.link-ex:hover {
    color: #448EE4;
    text-decoration:underline;
    text-underline-offset: 5px;
}

svg:hover {
    fill: #448EE4;
}

.text {
    font-size: 1.3rem;
}

.card {
    min-width: 100% !important;
    border-radius: 10% !important;
    margin-bottom: 30px;
}

.card-img-top {
    border-top-right-radius: 8% !important;
    border-top-left-radius: 8% !important;
    height: 300px;
}

.btn {
    background-color: #448EE4 !important;
    border-radius: 50px !important;
    color: white !important;
}

.btn:hover {
    background-color: skyblue !important;
    color: #212529 !important;
}
